
// Body
$body-bg: #f5f8fa;
$primary-color: #2196F3;
$primary-hover:#0b4990;
$success:#4caf50;
// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$mobile-width:767;
$tablet-width: 768px;
$desktop-width: 1024px;
$thunder-width:1200;
//Social Media
$fbColor: #3B5998;
$twitterColor: #1DA1F2;
$instaColor:#262626;
$pintColor:#BD081C;